.nav li
* { 
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
    body { 
       background-color: #018655;
    text-align: center;
}

    main {background-color: #8BBF3A; text-decoration-color: antiquewhite;}
 .footer {height: 200px;
background-color: #018655; text-decoration-color: aliceblue;}
#caja1 {background-color: aliceblue;}
.nav .links li { display: inline-block;}
h2 {
color: white;
text-transform: uppercase;
}

h5  {
    color: white;

    text-transform: uppercase;
    }

header {height: 30vh; }
footer li {
 list-style: none;
color: aliceblue;
text-decoration: none;}
p { 
    background: #018655;
} 
.footer {
    float: left;

}
h5 {color: #018655;}
a {color: aliceblue;}
li {list-style: none;
text-align: left;}

MappingURL=estilos.css.map */
