

.nav li
* { 
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
    body { 
       background-color: #018655;
    text-align: center;
}
.card {
    background-color:aliceblue;
   
}
.card-deck {
    background-color: aliceblue;
  
}
.card-body { 
    background-color: aliceblue;
}
h5 {color: #018655;}
a {color: aliceblue;}
li {list-style: none;
text-align: left;}
.imagen {align-content: center;

}
label {text-decoration: aliceblue;}
